* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: green;
  color: #313131;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  color: #313131;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 50px;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #313131;
  text-decoration: none;
  padding-top: 10px;
  font-size: 20px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: green;
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.dashboard-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.content-header {
  text-align: left;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

p {
  font-size: 20px;
  color: #666;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 700px;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #313131;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
  color: #313131;
  font-size: 20px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(127, 127, 127);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0d8b0b;
  color: white;
}

.error-message {
  color: red;
  margin-top: 20px;
  text-align: center;
}
