{% extends 'base.html' %}

{% block title %}Dashboard - My Web Application{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Admin Page</h1>
    <table>
        <thead>
            <tr>    
                <th>Full Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Account Banned</th>
                <th>More Details</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.is_active %} 
                    <tr>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_admin }}</td>
                        <td>{{ user.is_banned }}</td>
                        <td><a href="{% url 'user_details' user.id %}">Click here</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table> 
    {% comment %} <h3>Users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.email }} ({{ user.full_name }}) - Admin: {{ user.is_admin }}</li>
        {% endfor %}
    </ul> {% endcomment %}
    {% comment %} <h3>Posts</h3>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }} by {{ post.user.email }}
                <form method="post" action="{% url 'delete_post' post.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul> {% endcomment %}
    {% comment %} <a href="{% url 'manage_users' %}">Manage Users</a> {% endcomment %}
    <a href="{% url 'view_all_posts' %}">View All Posts</a>
    <button><a href="{% url 'logout' %}">Logout</a></button>
</div>
{% endblock %}
{{ redirect_to_login_immediately }}