<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Application{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    
    {% comment %} <header>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li> 
                    {% if user.is_admin %}
                        <li><a href="{% url 'admin_page' %}">Admin Dashboard</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li> 
                {% endif %}
            </ul>
        </nav>
    </header> {% endcomment %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
