{% extends 'base.html' %}

{% block title %}Dashboard - My Web Application{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-box">
        <div class="content-header">
            <h2>Welcome, {{ user.full_name }}!</h2>
        </div>
        <div class="form-group">
            <p>This is your dashboard.</p>
        <div>
        <button><a href="{% url 'logout' %}">Logout</a></button>
    </div>
</div>
{% endblock %}
