{% extends 'base.html' %}

{% block title %}Register - My Web Application{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="box">
        <div class="form">
            <div class="form-header">
                <h2>Register</h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form> 
            <p style="text-align: center;"> Already Registered? Click <a href="{% url 'login' %}">here</a> to Login</p>
        </div>
    </div>
</div>
{% endblock %}
