/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.user-details {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.header {
    background-color: #4CAF50;
}

.header p {
    color: white;
    padding: 20px;
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

/* Image Styles */
img {
    border-radius: 50%;
    max-width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}

/* Button Styles */
button {
    display: inline-block;
    margin: 20px 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

button a:hover {
    color: white;
}

/* Button Group Styles */
.button-group {
    text-align: center;
    margin-bottom: 10px;
}

.button-group form {
    display: inline;
}

/* Link Styles */
a {
    display: block;
    margin: 10px auto;
    color: #4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #45a049;
    text-decoration: underline;
}
