/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
}

h2 {
    text-align: left;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #4CAF50;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

/* Button Styles */
button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

button a:hover {
    color: white;
}

/* Button Group Styles */
.button-group {
    text-align: left;
    margin-bottom: 10px;
}

.button-group form {
    display: inline;
}

/* Link Styles */
a {
    display: block;
    margin: 20px auto;
    color: #4CAF50;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #45a049;
    text-decoration: underline;
}

/* Nav Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #45a049;
    text-decoration: underline;
}
